#footer-message a,
#footer-message a:visited
{
  text-decoration: none;
  color: #fc7316;
}

#footer-message a:hover
{
  text-decoration: none;
  color: #005787;
}


mainmenu { font-family:arial, sans-serif;}
.mainmenu li {float:left;position:relative;}
.mainmenu a, .mainmenu a:visited {display:block;font-size:12px; color:#000;  border:1px solid #fff; border-width:1px 0 1px 1px; /*background:#09c;*/ background: #cad4e3; padding-left:10px;font-weight:bold;}
