#footer-message a,
#footer-message a:visited
{
  text-decoration: none;
  color: #fc7316;
  font-weight:bold;
  font-family:times, serif;
}

#footer-message a:hover
{
  text-decoration: none;
  color: #005787;
  font-weight:bold;
  font-family:arial, sans-serif;
}


.mainmenu {color:#696969; font-family:arial, sans-serif;font-size:16px;}
.mainmenu a, .mainmenu a:visited{display:block; color:#000;  border:1px solid #fff;  font-weight:bold; text-decoration:none;}
.mainmenu a:hover {text-decoration: underline}

.div_heading{color:#696969;font-size:1.6em;border:1px solid #cad4e3;border-left:2em solid #cad4e3;float:left;padding:.2em;word-wrap:break-word}

